.Layout {
    /* width: 90%;
    margin: 20px auto;
    border: 5px ridge silver; */
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

@media (min-width:500px) {
    .Layout {
        width: 500px;
        margin: 50px auto;
    }
}
