.Layout {
    margin: 50px auto;
    border: 10px ridge silver;
    box-sizing: border-box;
}



@media (min-width:500px) {
    .Layout {
        width: 500px;
    }
}

@media (max-width:500px) {
    .Layout {
        width: 90%;
        margin:20px 0 20px 20px auto;
        border: 5px ridge silver;
        
    }
}