.Button {
    outline: none;
    font-weight: bold;
    display: inline-block;
    margin: 6px 6px;
    border: 1px dotted #ccc;
    padding: 2px 5px;
    border: 0;
    border-radius: 4px;
    min-width: 50px;
    height: 60px;
    cursor: pointer;
    color: white;
}

.Number {
    background-color: rgb(50, 50, 50);
}

.Operation {
    background-color: rgb(35, 35, 35);
}

.Button:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

.Hide {
    display: none;
}